h1 {
    text-align: center;
    color: gold;
}

body {
    background-color: teal;
    color: gold;
}

.game-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    height: 75%;
    width: 75%;      
    gap: 30px;
}

.grid-boxes {
    line-height: 300px;
    text-align: center;
    background-color: turquoise;
}